/**********************************
* TITLE: XploreU * 
* URI  : styles.css *
* MODIF: 2008-July-1 *
* CREATED BY: Lance Ennen *
**********************************/

html, body{
	margin:0;
	padding:0;
	text-align:center;
	font-family: sans-serif;
	/*background:#e6e6e6;*/
	background: #000000 url("../images/frontend/background.jpg") repeat-x;	
} 

a{
	color:#3399CC;
	text-decoration:none;
}

h3{
	font-weight:bold;
}

h4{
	margin:0px;
}

p{
	margin-top:0px;
}

ul{
	list-style:none;
}

.caption{
	font-size:8pt;
}

.section_header {
	font-size:20px;
	margin: 8px 0px 0px 10px;
	color:white;
	position:absolute;
	min-width:300px;
	left:20px;
}
 
#pagewidth{width:930px;text-align:left;margin-left:auto;margin-right:auto;} 
 
#header{position:relative;height:106px;background-color:transparent;width:100%;padding:20px 0px 5px;}

.logo{float:left;}

div.top_banner{float:right;}
 
#maincol{display:inline;position:relative;width:100%;}

#homepage{
	background-image: url('../images/frontend/home_page_background.png');
	background-repeat:no-repeat;
	width:900px;
	height:636px;
	margin:0 auto;
}

#mainpage{background-color:#FFFFFF;width:900px;position:relative;margin:0 auto;top:-23px;}
 
#footer{height:100px;background-color:transparent;clear:both;}

#footer_nav{color:3399CC;text-align:center;padding:5px;font-size:14px;}

#footer_nav a, #footer_nav a:visited, #footer_nav a:hover, #footer_nav a:active{color: 3399CC;text-decoration: none;}

.copyright{color:white;text-align:center;font-size:10px;padding:5px;}
 
 /* Float containers fix: */ 
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}

.clearfix{display: block;}
/* End hide from IE-mac */

/* Menu top nav - tims css*/
ul.top_nav
{padding:0px;margin:0px;border:0px;list-style-type:none;}

ul.top_nav li
{display:inline;padding:0px;margin:0px;border:0px;}

ul.top_nav li a
{padding:0px;margin:0px;border:0px;}

ul.top_nav li a:hover
{padding:0px;margin:0px;border:0px;}
/* End menu top nav - tims css*/

.notice{padding:.7em;}

#sub_content{
	left:40px;
	position:absolute;
	top:340px;
/*	background-color:white;*/
	height:283px;
	width:530px;
	overflow:hidden;
}

#sub_content .content{
	background-color:white;
	clear:both;
	position:relative;
	top:-6px;
	height:230px;
	padding:10px;
}

#sub_content .left, #sub_content .right {
	display:inline;
	height:210px;
	float:left;
	overflow:auto;
}

#sub_content .left{
	width:177px;
	margin-right:20px;
}

#sub_content .right{
	width:59%;
}

#sub_content .photos li{
	display:inline;
	float:left;
	margin:0px 10px 10px 0px;
}

#sub_content ul{
	margin:0px;
	padding:0px;
}

#sub_content caption {
	
}

#sub_tabs {
	list-style:none;
	padding:0px;
	margin:0px;
}

#sub_tabs li{
	display: inline;
	float:left;
}

#sub_tabs li:hover{
	cursor:pointer;
}

#sub_tabs li a img{
	border:none;
}

#random-fact{
	position:absolute;
	top:343px;
	left:600px;
	width:265px;
	height:260px;
	overflow:hidden;
	background:url('/images/frontend/cheap_tickets.png');
	background-repeat:no-repeat;
	padding:12px 17px;
}

#random-fact h3{
	color:#FFA451;
	margin:0px;
}

.tab .active {
	
}

#login {
	color:white;
	border:1px #666666 solid;
	background-image:url(/images/frontend/transparentgrey.png);
	position:absolute;
	top:65px;
	left:40px;
	z-index:2;
	padding:10px;
}

#login p {
	font-size:10px;
	margin:0px;
}

#login h1{
	font-size:12px;
	margin:0px;
	text-transform:uppercase;
}

#login a{
	text-decoration:none;
}

#login label{
	text-align:left;
	width:auto;
}

#login #user_remember_me{
		margin: 0px 10px 0px 0px !important;
}

#top_bar{
	font-size:25px;
	color:white;
	padding:2px 0px 10px 8px;
	height:20px;
}


#nav {
  	color: black;
  	font-size: 12pt;
  	font-weight: bold;
/*  background: #ccc;*/
/*  padding: 0.5em;*/
  	float:right;
	padding:2px 8px 10px 0px;
}

#nav a, #nav a:visited  {
  color: white;
  text-decoration: none;
}

#nav a:hover {
  border-bottom: 2px dotted white;
}

#bottom_nav {
  color: #3399cc;
  font-size: 9pt;
  font-weight: bold;
  background: trasparent;
  padding: 0.5em;
  text-align:center;
}

#bottom_nav a, #bottom_nav a:visited  {
  color: #3399cc;
  text-decoration: none;
}

#bottom_nav a:hover {
  border-bottom: 2px dotted #3399cc;
}

#content {
  height: 100%;
  background:  white;
  padding: 1em;
}

#content h1 {
  font-size: 18pt;
}

/* Hack to get IE to display fieldset/legend correctly */ 
html fieldset { 
  position: relative; 
} 

html legend { 
  position:absolute; 
  top: -1em; 
  left: .5em; 
} 

html fieldset { 
  position: relative; 
  margin-top:1em; 
  padding-top:2em; 
  padding-bottom: 2em;
	
} 

/* Form Styles */ 
fieldset { 
  background: #ddd;
} 

legend { 
  color: white; 
  background: orange; 
  padding: .4em 1em; 
} 

label { 
  width: 10em; 
  float: left; 
  text-align: right; 
  margin-right: 0.2em; 
  display: block; 
}

.textinput{ 

}

.form_row { 
  white-space: nowrap; 
  padding-bottom: .5em; 
} 

.submit { 
  margin-left: 15em; 
}

.submit_homepage { 
  margin-left: 10px; 
}

/* Debug Style */

#debug {
  margin-top: 1em;
  margin-left: auto;
}
#debug a, #debug a.visited {
  text-decoration: none;
  color: orange;
}
fieldset.debug_info {
  text-align: left; 
  margin: 1em; 
  background: #eee;
}

/* Error Reporting Styles */ 
.fieldWithErrors { 
  margin: 2px; 
  padding: 2px; 
  background-color: red; 
  display: table; 
} 

#errorExplanation { 
  border: 2px solid red; 
  padding: 7px; 
  padding-bottom: 12px; 
  margin-bottom: 20px; 
  background-color: #f0f0f0; 
} 

#errorExplanation h2 { 
  text-align: left; 
  font-weight: bold; 
  padding: 5px 5px 5px 15px; 
  font-size: 12pt; 
  margin: -7px; 
  background-color: #c00; 
  color: #fff; 
} 

#errorExplanation p { 
  color: #333; 
  margin-bottom: 0; 
  padding: 5px; 
} 

#errorExplanation ul li { 
  font-size: 11pt; 
  list-style: square; 
} 

/* Flash Notice Style */ 
#notice { 
  border: 1px solid green; 
  padding: 1em; 
  margin-bottom: 2em; 
  background-color: lightgray; 
  font: bold smaller sans-serif; 
}


/* Community Styles */

.letter, .letter_current {
  width: 1em;
  text-align: center;
  border: 1px solid gray; 
  background: #fff; 
  padding: 5px 2px 1px 2px; 
  float: left; 
  margin: 2px
}

.letter:hover {
  background: #fe4;
}

.letter_current {
  background: #fe4;
  font-weight: bold;
  border: 1px solid black;
}

table.users {
  background: #fff;
  margin-left: 2em;
}

table.users td.bottom {
  border-top: 1px solid #999;
  padding-top: 10px;
}

table.users th {
  color: white;
  background: orange;
  font-weight: normal;
}

table.users th a {
  color: white;
  text-decoration: underline;
}

table.users tr.even {
  background: #ddd;
}

table.users tr.odd {
  background: #eee;
}

.reset {
	clear:both;
}


.formbutton{
cursor:pointer;
border:outset 1px #ccc;
background:#999;
color:#666;
font-weight:bold;
padding: 1px 2px;
margin-left: 15em; 
background:url(/images/frontend/formbg.gif) repeat-x left top;
}

ul#portfolio{
	margin-left:-40px;
}

.map{
	background:url(/images/frontend/map_background.png);
	height:335px;
	width:930px;
	background-repeat: no-repeat; 
	margin-top:-8px;
	padding:0px;
}