<div id="bottom_banner">
	<div class="bottom_left_banner">
 		<script type='text/javascript'> 
			<!--//<![CDATA[
			var m3_u = (location.protocol=='https:'?'https://ads.xploreu.com/www/delivery/ajs.php':'http://ads.xploreu.com/www/delivery/ajs.php');
			   var m3_r = Math.floor(Math.random()*99999999999);
			   if (!document.MAX_used) document.MAX_used = ',';
			   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
			   document.write ("?zoneid=7");
			   document.write ('&cb=' + m3_r);
			   if (document.MAX_used != ',') document.write ("&exclude=" + document.MAX_used);
			   document.write ("&loc=" + escape(window.location));
			   if (document.referrer) document.write ("&referer=" + escape(document.referrer));
			   if (document.context) document.write ("&context=" + escape(document.context));
			   if (document.mmm_fo) document.write ("&mmm_fo=1");
			   document.write ("'><\/scr"+"ipt>");
			//]]> -->
		 </script>

		<noscript>
			<a href='http://ads.xploreu.com/www/delivery/ck.php?n=a3ba05c2&cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'>
				<img src='http://ads.xploreu.com/www/delivery/avw.php?zoneid=7&cb=INSERT_RANDOM_NUMBER_HERE&n=a3ba05c2' border='0' alt='' />
			</a>
		</noscript>
	</div>
	<div class="bottom_right_banner">
		<a href="#inner_content" rel="ibox" class="logo"><img src="../../../../images/frontend/point_partners.gif" alt="XU Point Partners" border="0"></a>
	</div>
</div><!-- end bottom banner -->
<!-- shared links -->
<div id="bookmark-links">
	<span>Tell your friends:</span>
	<a rel="external" href="http://del.icio.us/post?url=http://www.xploreu.com&amp;title=xploreu.com"><img alt="del.icio.us" title="share on del.icio.us" src="/images/icons/delicious.png"></a>
	<a rel="external" href="http://digg.com/submit?phase=2&amp;url=http://www.xploreu.com"><img alt="digg" title="share on digg" src="/images/icons/digg.png"></a>
	<a rel="external" href="http://technorati.com/cosmos/search.html?url=http://www.xploreu.com"><img alt="Technorati" title="share on technorati" src="/images/icons/technorati.png"></a>
	<a rel="external" href="http://blinklist.com/index.php?Action=Blink/addblink.php&amp;url=http://www.xploreu.com&amp;Title=xploreu.com"><img alt="Blinklist" title="share on blinklist" src="/images/icons/blinklist.png"></a>

	<a rel="external" href="http://furl.net/storeIt.jsp?t=xploreu.com&amp;u=http://www.xploreu.com"><img alt="furl" title="share on furl" src="/images/icons/furl.png"></a>
	<a rel="external" href="http://reddit.com/submit?url=http://www.xploreu.com&amp;title=xploreu.com"><img alt="Reddit" title="share on reddit" src="/images/icons/reddit.png"></a>
	<a rel="external" href="http://www.facebook.com/sharer.php?u=http://xploreu.com&amp;t=xploreu.com"><img alt="Facebook" title="share on facebook" src="/images/icons/facebook.png"></a>
</div>
<!-- end of shared links -->