<!-- Rails menu
<div id="nav">
  <%#= nav_link "Home", "site" %> | 
  <%#= nav_link "My XU", "user", "index" %> | 
  <%#= nav_link "Xembers", "community", "index" %> |
  <%#= nav_link "Xplore", "site", "xplore" %> |
  <%#= nav_link "Points & Rewards", "site", "points_and_rewards" %> |
  <%#= nav_link "Study Abroad", "site", "study_abroad" %> |
  <%#= nav_link "Forums", "site", "forums" %>
</div> -->

<!-- Tims menu - which will need refactoring -->
<div id="top_nav">
  <ul class="top_nav" style="margin:0 auto;text-align:center;">
  	<li><a href="/" onMouseOver="document.swap1.src='../../../images/menu/top/home_over.png';" onMouseOut="document.swap1.src='../../../images/menu/top/home.png';"><img src="../../../images/menu/top/home.png" alt="Home" border="0" name="swap1"></a></li>
  	<li><img src="../../../images/menu/top/menu_space.png" alt="vert line" border="0"></li>
  	<li><a href="/user" onMouseOver="document.swap2.src='../../../images/menu/top/my_xu_over.png';" onMouseOut="document.swap2.src='../../../images/menu/top/my_xu.png';"><img src="../../../images/menu/top/my_xu.png" alt="My XU" border="0" name="swap2"></a></li>
  	<li><img src="../../../images/menu/top/menu_space.png" alt="vert line" border="0"></li>
  	<li><a href="/community" onMouseOver="document.swap3.src='../../../images/menu/top/xembers_over.png';" onMouseOut="document.swap3.src='../../../images/menu/top/xembers.png';"><img src="../../../images/menu/top/xembers.png" alt="Xembers" border="0" name="swap3"></a></li>
  	<li><img src="../../../images/menu/top/menu_space.png" alt="vert line" border="0"></li>
  	<li><a href="/site/xplore" onMouseOver="document.swap4.src='../../../images/menu/top/xplore_over.png';" onMouseOut="document.swap4.src='../../../images/menu/top/xplore.png';"><img src="../../../images/menu/top/xplore.png" alt="Xplore" border="0" name="swap4"></a></li>
  	<li><img src="../../../images/menu/top/menu_space.png" alt="vert line" border="0"></li>
  	<li><a href="/site/points_and_rewards" onMouseOver="document.swap5.src='../../../images/menu/top/points_and_rewards_over.png';" onMouseOut="document.swap5.src='../../../images/menu/top/points_and_rewards.png';"><img src="../../../images/menu/top/points_and_rewards.png" alt="Points & Rewards" border="0" name="swap5"></a></li>
  	<li><img src="../../../images/menu/top/menu_space.png" alt="vert line" border="0"></li>
  	<li><a href="/site/study_abroad" onMouseOver="document.swap6.src='../../../images/menu/top/study_abroad_over.png';" onMouseOut="document.swap6.src='../../../images/menu/top/study_abroad.png';"><img src="../../../images/menu/top/study_abroad.png" alt="Study Abroad" border="0" name="swap6"></a></li>
  	<li><img src="../../../images/menu/top/menu_space.png" alt="vert line" border="0"></li>
  	<li><a href="/site/forums" onMouseOver="document.swap7.src='../../../images/menu/top/forums_over.png';" onMouseOut="document.swap7.src='../../../images/menu/top/forums.png';"><img src="../../../images/menu/top/forums.png" alt="Forums" border="0" name="swap7"></a></li>
  </ul>
</div>