We don’t have you lick envelopes here, unless they taste really good. An internship at XploreU means you Xplore your passion and do what you want in marketing or journalism. The students that work the hardest and meet deadlines will be rewarded with a press trip. 

Lakase Perry, Ambassador Spring 08, Junior Loyolla University. <a href="mailto:ambassadors@xploreu.com">XploreU Ambassadors</a>
