<p>1. How to pick up that international hottie.</p>
<p>2. Best bars in chicago.</p>
<p>3. Where to spring break, both on and off the beaten track.</p>
<p>4. Becoming slightly more appropriate overseas than your fellow Americanos.</p>
<p>5. Cheap ways to Xplore.</p>