<a href="site/hot_topics_info"><h4>1. How to pick up that international hottie.</h4></a><br/>
<a href="site/hot_topics_info"><h4>2. Best bars in chicago</h4></a><br/>
<a href="site/hot_topics_info"><h4>3. Where to spring break, both on and off the beaten track.</h4></a><br/>
<a href="site/hot_topics_info"><h4>4. Becoming slightly more appropriate overseas than your fellow Americanos.</h4></a><br>
<a href="site/hot_topics_info"><h4>5. Cheap ways to Xplore.</h4></a>