<div id="homepage">
  <h1 class="section_header">Welcome to XploreU.com</h1>
  <!-- <div><%#= render :partial => "community/search_form" %></div> -->
    
   <div id="login" >
     <%= render :partial => 'user/login_home_page' %>
  </div> 

	<div id="show" class="slideshow">
  </div>
  
	<div id="sub_content">
		<ul id="sub_tabs" class="subsection_tabs">
			<li class="tab" title="about_us" ><span><img alt="About Us" title="About Us" src="/images/menu/bottom/tabs_01.png"/></span><img src="/images/menu/bottom/tabs_vr.png"/></li>
			<li class="tab" title="ambassadors" ><span><img alt="Ambassadors" title="Ambassadors" src="/images/menu/bottom/tabs_03.png"/></span><img src="/images/menu/bottom/tabs_vr.png"/></li>
			<li class="tab" title="advertising" ><span><img alt="Advertising" title="Advertising" src="/images/menu/bottom/tabs_04.png"/></span><img src="/images/menu/bottom/tabs_vr.png"/></li>
			<li class="tab" title="tips" ><span><img alt="Tips" title="Tips" src="/images/menu/bottom/tabs_05.png"/></span><img src="/images/menu/bottom/tabs_vr.png"/></li>
			<li class="tab" title="pictures" ><span><img alt="Pictures" title="Pictures" src="/images/menu/bottom/tabs_06.png"/></span><img src="/images/menu/bottom/tabs_vr.png"/></li>
			<li class="tab" title="blog"><span><img alt="Blog" title="Blog" src="../images/menu/bottom/tabs_07.png"/></span></li>
		</ul>
		<div class="content" id="tabbed_content" >
				<div class="tab_content" id="about_us">
					<div class="left"><img src="/images/frontend/mascot_1.gif"/></div>
					<div class="right">
						<p>XPLOREU was created by student travelers who all had a backpack and a dream.  Now that the backpack is worn in and the dreams have been reached, we just can't shut up about them.</p>
						<p>XU hopes to make the travel process more fulfilling and less confusing by being a one-stop portal to guide and connect students before they go abroad.  We believe that in order to truly understand your place in the world, you must first SEE and UNDERSTAND the world.  We also want to travel vicariously through you.  Is that creepy?  Forget we said it.</p>
					</div>
				</div>
				<div id="ambassadors">
					<div class="left"><img src="/images/frontend/mascot_1.gif"/></div>
					<div class="right">
						<p>Dig the XU mission? Want to dig deeper?  XU is looking for well-connected students worldwide to serve as XU Ambassadors, the fiery furnace that keeps the S.S. XPLOREU at sea.  We offer a flexible writing and marketing internships among the vibrant climate of a young company, with the chance to quench your thirst for adventure by participating in press trips all over the world.  That tickle your fancy, Magellan?  We thought so.  Send a resume and cover letter to <a href="mailto:ambassadors@xploreu.com">ambassadors@xploreu.com</a>.</p>
					</div>
				</div>
				<div id="advertising">
					<div class="left"><img src="/images/frontend/mascot_2.gif"/></div>
					<div class="right">
						<p>Target college students worldwide through sponsorships, press trips, advertising, or events with XploreU. For more information, contact XU!</p>
					</div>
				</div>
				<div id="tips">
					<div class="left"><img src="/images/frontend/mascot_1.gif"/></div>
					<div class="right">
						<p>Don't forget to pack duct tape. It can be helpful in more ways than you can ever imagine!</p>
					</div>
				</div>
				<div id="pictures">
					<div class="left"><img src="/images/frontend/mascot_1.gif"/></div>
					<div>
						<div id="mini-show" class="slideshow-mini">
								<img src="images/frontend/photos/slides/1.jpg" />
						<!-- <ul class="photos">
							<li><img src="/images/frontend/photos/thumbs/DSCN0830.jpg"/></li>
							<li><img src="/images/frontend/photos/thumbs/DSCN1071.jpg"/></li>
							<li><img src="/images/frontend/photos/thumbs/DSCN1076.jpg"/></li>
							<li><img src="/images/frontend/photos/thumbs/DSCN1277.jpg"/></li>
							<li><img src="/images/frontend/photos/thumbs/RSCN0731.jpg"/></li>
						</ul> -->
						</div>
					</div>
				</div>
				<div id="blog">
					<div class="left"><img src="/images/frontend/mascot_2.gif"/></div>
					<div class="right">
						<h3>Check out our blog!</h3>
						<h4><a href="http://explorestudenttravel.typepad.com/xploreu/2008/06/flashback-refle.html">Flashback Reflecting on My Semester Abroad</a></h4>
						<p>...looking out the sooty windows, I remember thinking I was exactly where I should be, thinking, “This is why people travel.” &nbsp;<a href="http://explorestudenttravel.typepad.com/xploreu/2008/06/flashback-refle.html">more...</a></p>
						<h4><a href="http://explorestudenttravel.typepad.com/xploreu/2008/06/international-d.html">International Dot Com</a></h4>
						<p>I am not a big fan of burping after I eat, but in Eastern Asian cultures- it's a compliment! &nbsp;<a href="http://explorestudenttravel.typepad.com/xploreu/2008/06/flashback-refle.html">more...</a></p>
					</div>
				</div>
			</div>
		</div> 
		
		<div id="random-fact">
			<!-- <h3>Random Fact</h3>
			<p>In Scotland, it is illegal to be a drunk in possession of a cow.</p> -->
			  <script src="http://ad.linksynergy.com/fs-bin/show?id=GCILbQuhnvE&bids=130340.5740&catid=54&gridnum=14&type=14&subid=0"> </script>
				<noscript><a href="http://click.linksynergy.com/fs-bin/click?id=GCILbQuhnvE&offerid=130340&type=4&subid=">
				<img src="http://ad.linksynergy.com/fs-bin/show?id=GCILbQuhnvE&bids=130340&subid=&type=4&gridnum=14"></a></noscript>
		</div>
		
	</div>

	<script type="text/javascript">		
	//<![CDATA[
	  window.addEvent('domready', function(){
      // Load your images here
	    var data = ["lobster.jpg", "beach.jpg", "earth.jpg", "parlaiment.jpg", "mountain.jpg", "castle.jpg"];
	    // Initialize the Slideshow instance
	    //var myShow = new Slideshow('show', data, { hu: 'images/frontend/slides/', height:272, width:900, duration:2000, delay:4000, loader:false });
			
			var miniSlides = ["1.jpg", "2.jpg", "3.jpg", "4.jpg", "5.jpg"];
			var miniSlideShow = new Slideshow('mini-show', miniSlides, { hu: 'images/frontend/photos/slides/', height:200, width:300, left:0, top:0, duration:2000, delay:4000, loader:false });
	
	  });
		
		//initialize the tabs
		initTabs('sub_tabs', 'tabbed_content');
		function initTabs(tabs, contents){
			var tab_list = $(tabs).childNodes;
			var currTab;
			var tab_contents = $(contents).childNodes;
			var content_list = [];
			
				
			// make list of contents
			for(var i =0; i< tab_contents.length; i++){
				if(tab_contents[i].childNodes[0] != null){
					content_list.push(tab_contents[i]);
				}
			}
			hideThese(content_list);
			for(var i =0; i< tab_list.length; i++){
				currTab = tab_list[i];
				if(currTab.childNodes[0] != null){
					currTab.onclick = function(){
						hideThese(content_list);
						showThis($(this.getAttribute('title')));
					}
				}
			}
			hideThese(content_list);
			showThis(content_list[0]);
		}
		
		function hideThese(elements){
			for(var j = 0; j< elements.length; j++){
				elements[j].setStyle("visibility", "collapse");
				elements[j].setStyle("display", "none");
			}
		}
		
		function showThis(element){
			element.setStyle("visibility", "visible");
			element.setStyle("display", "block");
		}
		
	//]]>
	</script>
	
</div>
