<div id="homepage">
  
  <!-- <div><%#= render :partial => "community/search_form" %></div> -->
    
  <!-- <div style="position:absolute;top:55px;left:30px;">
     <%#= render :partial => 'user/login_home_page' %>
  </div> -->
  
  <!-- <div style="position:absolute;top:100px;left:620px;background:#FFFFFF;width:270px;height:150px;overflow-y:scroll;padding:5px;">
    <p style="color:blue;font-size:12px;">July 4th, 2008</p>
    <p style="font-size:12px;">Lewis and Clark, eat your heart out.  One of XU's star ambassadors, LaKase Perry, recently got back from her sponsored cross-country hike with Trek America <http://www.trekamerica.com/> . TrekAmerica sent her on a 16-day xploration of the Great Pioneer Trail, hitting up the Grand Canyon, Yosemite National Park and VEGAS, baby, Vegas!  Read about LaKase's trip on her XU <a href="http://blog.xploreu.com">blog</a>.</p>
    <p style="color:blue;font-size:12px;">July 1st, 2008</p>
    <p style="font-size:12px;">XU’s ambassador program is expanding internationally in the fall. If you’re living overseas in the fall, <a href="/contact">apply</a> to become one of our FIRST international ambassadors.</p>
  </div> -->
  
</div>
