<p>Don’t joke about carrying a bomb when airport personnel ask if you’re carrying anything explosive.</p>
<p>Do NOT bring your Gucci purse, Louis rings, or coach shoes to developing countries.</p>
<p>On every trip, even to visit your grandparents or girlfriend(s), pack duck tape, Ziplock bags, extra socks and matches.</p>
<p>Make copies of your passport on pink paper and leave with LOVED ones back home.</p>
<p>Don’t flash a mass of cash, jewelry or drugs in front of beggars or police.</p> 
<p>Know your home embassy’s phone number and address in every country you travel to BEFORE you arrive... Fyi: US states do not have embassies, so don’t ask where the embassy of Kansas is, it doesn’t exist.</p>