<h1>Terms and Conditions</h1>

<p>XPLOREU, LLC ("XPLOREU") OFFERS AND PROVIDES THIS WEB SITE (THE "SITE") TO YOU AND ALL OTHER USERS SUBJECT TO THESE TERMS AND CONDITIONS OF USE (THESE "SITE TERMS AND CONDITIONS"). PLEASE READ THESE SITE TERMS AND CONDITIONS THOROUGHLY BEFORE USING THIS WEB SITE. BY ACCESSING OR USING THIS WEB SITE, YOU EXPLICITLY AND UNCONDITIONALLY AGREE TO COMPLY WITH AND BE BOUND BY THESE SITE TERMS AND CONDITIONS AND ALL TERMS, POLICIES AND GUIDELINES INCORPORATED BY REFERENCE HEREIN. IF YOU DO NOT AGREE TO ALL PROVISIONS OF THESE SITE TERMS AND CONDITIONS, DO NOT USE THIS WEB SITE NOW OR AT ANY TIME IN THE FUTURE.

XPloreU reserves the right to amend, modify or change any of the terms and conditions contained in these Site Terms and Conditions, or any policy or guideline of the Site, at any time and in its sole discretion. Unless otherwise specified, any changes, amendments or modifications will be effective immediately upon posting of the revisions on the Site, and your continued use of the Site will constitute your acceptance of such changes, amendments or modifications. You should review these Site Terms and Conditions and all incorporated policies and documents on a regular basis to understand the terms and conditions that apply to your use of the Site. If you do not agree to any amended terms, you should immediately stop using the Site. These Site Terms and Conditions do not alter in any way the terms or conditions of any other agreement you may have with XPloreU or its affiliates for products, services or otherwise.</p>

<h2>Privacy Policy</h2>

Please refer to XPloreU's Privacy Policy for information on how XPloreU collects, uses and discloses personally identifiable information from its users.

Trademarks; Trade Dress

XPLOREU and all other product or service names or slogans displayed on the Site are registered and/or common law trademarks of XPloreU, LLC and/or its suppliers or licensors, and may not be copied, imitated or used, in whole or in part, without the prior written permission of XPloreU or the applicable trademark holder. In addition, the look and feel of the Site, including all page headers, custom graphics, button icons and scripts, is the service mark, trademark and/or trade dress of XPloreU and may not be copied, imitated or used, in whole or in part, without the prior written permission of XPloreU. All other trademarks, registered trademarks, product names and company names or logos mentioned in the Site are the property of their respective owners. Reference to any products, services, processes or other information, by trade name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof by XPloreU.

Copyright and Certain Ownership Rights

Except as otherwise indicated, the Site, and all text, images, marks, logos and other content contained herein, including, without limitation, the XPloreU logo and all designs, text, graphics, pictures, information, data, software, sound files, other files, Content (as defined below) and the selection and arrangement thereof (collectively, the "Site Content") are the proprietary property of XPloreU or its licensors or users and are protected by U.S. and international copyright laws. The Site and all Site Content is (C) 2007 XPloreU, LLC All Rights Reserved.

Limited License to Access Site

XPloreU grants you a limited, non-sublicensable license to access and use the Site and to view, copy and print portions of the Site Content. Such license is subject to these Site Terms and Conditions, and specifically conditioned upon the following: (i) you may only view, copy and print portions of the Site Content for your own informational, personal and non-commercial use; (ii) you may not modify or otherwise make derivative uses of the Site or the Site Content, or any portion thereof; (iii) any displays or printouts of Site Content must be marked "(c) 2007, XPloreU, LLC All rights reserved."; (iv) you may not remove or modify any copyright, trademark, or other proprietary notices that have been placed in the Site Content; (v) you may not use any data mining, robots or similar data gathering or extraction methods; (vi) you may not use the Site or the Site Content other than for its intended purpose; and (vii) you may not reproduce, prepare derivative works from, distribute or display the Site or any Site Content (except for page caching), except as provided herein. Except as expressly permitted above, any use of any portion of the Site or Site Content without the prior written permission of XPloreU is strictly prohibited and will terminate the license granted herein.

Any such unauthorized use may also violate applicable laws, including without limitation copyright and trademark laws and applicable communications regulations and statutes. Unless explicitly stated herein, nothing in these Site Terms and Conditions may be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise. This license is revocable at any time.

You represent and warrant that your use of the Site and the Site Content will be consistent with this license and will not infringe or violate the rights of any other party or breach any contract or legal duty to any other parties, or violate any applicable law. You expressly agree to indemnify XPloreU against any liability to any person arising out of your use of Site Content not in accordance with these Site Terms and Conditions.

To request permission for uses of Site Content not included in the foregoing license, you may contact XPloreU as follows:

 

Content Manager
XPloreU, LLC
2906 North Greenview, #1
Chicago, IL 60657

Email: mhoover@xploreu.com

Links to the Site

You are granted a limited, non-exclusive right to create a text hyperlink to the Site for noncommercial purposes, provided such link does not portray XPloreU or any of its products or services in a false, misleading, derogatory or otherwise defamatory manner and provided further that the linking site does not contain any adult or illegal material or any material that is offensive, harassing or otherwise objectionable. This limited right may be revoked at any time. You may not use a XPloreU logo or other proprietary graphic of XPloreU to link to the Site without the express written permission of XPloreU. Further, you may not use, frame or utilize framing techniques to enclose any XPloreU trademark, logo or other proprietary information, including the images found at the Site, the content of any text or the layout/design of any page or form contained on a page on the Site without XPloreU's express written consent. Except as noted above, you are not conveyed any right or license by implication, estoppel or otherwise in or under any patent, trademark, copyright or proprietary right of XPloreU or any third party. Nothing contained on the Site may be construed as granting, by implication, estoppel or otherwise, any license or right to use any patent, trademark, copyright or other proprietary right of XPloreU or any third party without the prior written permission of XPloreU or such other party that may own such patent, trademark, copyright or other proprietary right(s).

The Site may contain links to third-party Web sites ("Third-Party Sites") and third-party content ("Third-Party Content") as a service to those interested in this information. You use links to Third-Party Sites, and any Third-Party Content therein, at your own risk. XPloreU does not monitor or have any control over, and makes no claim or representation regarding, Third-Party Content or Third-Party Sites. XPloreU provides these links only as a convenience, and a link to a Third-Party Site or Third-Party Content does not imply XPloreU's endorsement, adoption or sponsorship of, or affiliation with, such Third-Party Site or Third-Party Content. XPloreU accepts no responsibility for reviewing changes or updates to, or the quality, content, policies, nature or reliability of, Third-Party Content, Third-Party Sites, or Web sites linking to the Site. When you leave the Site, our terms and policies no longer govern. You should review applicable terms and policies, including privacy and data gathering practices, of any Third-Party Site, and should make whatever investigation you feel necessary or appropriate before proceeding with any transaction with any third party.

Use of Interactive Areas

The Site may contain discussion forums, bulletin boards, review services or other forums in which you or third parties may post reviews of travel experiences or other content, photographs, messages, materials or other items on the Site ("Interactive Areas"). If XPloreU provides such Interactive Areas, you are solely responsible for your use of such Interactive Areas and use them at your own risk. By using any Interactive Areas, you expressly agree not to post, upload to, transmit, distribute, store, create or otherwise publish through the Site any of the following:

1.Any message, data, information, text, music, sound, photos, graphics, code or other material ("Content") that is unlawful, libelous, defamatory, obscene, pornographic, indecent, lewd, suggestive, harassing, threatening, invasive of privacy or publicity rights, abusive, inflammatory, fraudulent or otherwise objectionable;

2.Content that would constitute, encourage or provide instructions for a criminal offense, violate the rights of any party, or that would otherwise create liability or violate any local, state, national or international law, including, without limitation, the regulations of the U.S. Securities and Exchange Commission or any rules of a securities exchange such as the New York Stock Exchange, the American Stock Exchange or the NASDAQ;

3.Content that may infringe any patent, trademark, trade secret, copyright or other intellectual or proprietary right of any party;

4.Content that impersonates any person or entity or otherwise misrepresents your affiliation with a person or entity;

5.Unsolicited promotions, political campaigning, advertising or solicitations;

6.Private information of any third party, including, without limitation, addresses, phone numbers, email addresses, Social Security numbers and credit card numbers;

7.Viruses, corrupted data or other harmful, disruptive or destructive files;

8.Content that is unrelated to the topic of the Interactive Area(s) in which such Content is posted; or

9.Content that, in the sole judgment of XPloreU, is objectionable or which restricts or inhibits any other person from using or enjoying the Interactive Areas or the Site, or which may expose XPloreU or its affiliates or its users to any harm or liability of any type.

XPloreU takes no responsibility and assumes no liability for any Content posted, stored or uploaded by you or any third party, or for any loss or damage thereto, nor is XPloreU liable for any mistakes, defamation, slander, libel, omissions, falsehoods, obscenity, pornography or profanity you may encounter. As a provider of interactive services, XPloreU is not liable for any statements, representations or Content provided by its users in any public forum, personal home page or other Interactive Area. Although XPloreU has no obligation to screen, edit or monitor any of the Content posted to or distributed through any Interactive Area, XPloreU reserves the right, and has absolute discretion, to remove, screen or edit without notice any Content posted or stored on the Site at any time and for any reason, and you are solely responsible for creating backup copies of and replacing any Content you post or store on the Site at your sole cost and expense.

Any use of the Interactive Areas or other portions of the Site in violation of the foregoing violates these Site Terms and Conditions and may result in, among other things, termination or suspension of your rights to use the Interactive Areas and/or the Site. In order to cooperate with legitimate governmental requests, subpoenas or court orders, to protect XPloreU's systems and customers, or to ensure the integrity and operation of XPloreU's business and systems, XPloreU may access and disclose any information it considers necessary or appropriate, including, without limitation, user profile information (i.e. name, email address, etc.), IP addressing and traffic information, usage history and posted Content. XPloreU's right to disclose any such information shall govern over any terms of XPloreU's Privacy Policy.

Rights to User Content

By posting or distributing Content to or through the Site, unless XPloreU indicates otherwise in writing, you (a) grant XPloreU and its affiliates a nonexclusive, royalty-free, perpetual, transferable, irrevocable and fully sublicensable right to use, reproduce, modify, adapt, translate, distribute, publish, create derivative works from and publicly display and perform such Content throughout the world in any media, now known or hereafter devised; (b) grant XPloreU and its affiliates and sublicensees the right to use the name that you submit in connection with such Content, if they choose; and (c) represent and warrant that (i) you own and control all of the rights to the Content that you post or otherwise distribute, or you otherwise have the lawful right to post and distribute such Content to or through the Site; (ii) such Content is accurate and not misleading; and (iii) use and posting or other transmission of such Content does not violate these Site Terms and Conditions and will not violate any rights of or cause injury to any person or entity. You further grant XPloreU the right to pursue at law any person or entity that violates your or XPloreU's rights in the Content by a breach of these Site Terms and Conditions.

Content submitted by users will be considered non-confidential and XPloreU is under no obligation to treat such Content as proprietary information. Without limiting the foregoing, XPloreU reserves the right to use the Content as it deems appropriate, including, without limitation, deleting, editing, modifying, rejecting or refusing to post it. XPloreU is under no obligation to offer you any payment for Content that you submit or the opportunity to edit, delete or otherwise modify Content once the it has been submitted to XPloreU. XPloreU shall have no duty to attribute authorship of Content to you, and shall not be obligated to enforce any form of attribution by third parties.

If it is determined that you retain moral rights (including rights of attribution or integrity) in the Content, you hereby declare that (a) you do not require that any personally identifying information be used in connection with the Content, or any derivative works of or upgrades or updates thereto; (b) you have no objection to the publication, use, modification, deletion and exploitation of the Content by XPloreU or its licensees, successors and assigns; (c) you forever waive and agree not to claim or assert any entitlement to any and all moral rights of an author in any of the Content; and (d) you forever release XPloreU, and its licensees, successors and assigns, from any claims that you could otherwise assert against XPloreU by virtue of any such moral rights.

Advertisements and Promotions

XPloreU may run advertisements and promotions from third parties on the Site. Your business dealings or correspondence with, or participation in promotions of, advertisers other than XPloreU, and any terms, conditions, warranties or representations associated with such dealings, are solely between you and such third party. XPloreU is not responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence of third-party advertisers on the Site.

Copyright Complaints

If you believe that material posted on the Site infringes upon any copyright that you own or control, or that any link on the Site directs users to another Web site that contains materials that infringes upon any copyright that you hold or control, you may file a notification of such infringement with our “Designated Agent” as set forth below:

Name of Agent Designated to Receive Notification of Claimed Infringement:

Director of Content

Full Address of Designated Agent to Whom Notification Should be Sent:

Director of Content, XPloreU LLC, 2906 North Greenview, #1, Chicago, IL 60657 USA

Telephone Number of Designated Agent: 773.697.8019

Facsimile Number of Designated Agent: 773.697.8017

Email Address of Designated Agent: mhoover@xploreu.com

XploreU may give notice of a claim of copyright infringement to its users by means of a general notice on the Site, electronic mail to a user's email address in XPloreU’s records, or by written communication sent by first-class mail to a user's address in our records.

Repeat Infringer Policy

In accordance with the Digital Millennium Copyright Act ("DMCA") and other applicable law, XPloreU has adopted a policy of terminating, in appropriate circumstances and at XPloreU's sole discretion, subscribers or account holders who are deemed to be repeat infringers. XPloreU may also at its sole discretion limit access to the Site and/or terminate the accounts of any users who infringe any intellectual property rights of others, whether or not there is any repeat infringement.

Registration Data; Account Security

You agree to (a) provide accurate, current and complete information about you as may be prompted by any registration forms on the Site ("Registration Data"); (b) maintain the security of your password; (c) maintain and promptly update the Registration Data, and any other information you provide to XPloreU, and to keep it accurate, current and complete; and (d) accept all risks of unauthorized access to the Registration Data and any other information you provide to XPloreU.

XPloreU is not a Booking Agent

XPloreU is not a booking agent or a travel agency, and does not charge service fees to users of the Site. However, you should be aware that agents who list travel packages with XPloreU may not have included all fees and surcharges in their listed prices. Airfares, in particular, are frequently subject to additional fees (many of which are required by law). When you book with one of XPloreU’s partners, please be sure to check their site for a full disclosure of all applicable fees as required by the U.S. Department of Transportation.

Furthermore, XPloreU, LLC makes no guarantees for availability of prices advertised on the Site. Listed prices may require a stay of a particular length or have blackout dates, qualifications or restrictions.

WARRANTY DISCLAIMER

EXCEPT AS EXPRESSLY PROVIDED TO THE CONTRARY IN A WRITING BY XPLOREU, THE SITE, THE MATERIALS CONTAINED THEREIN AND THE SERVICES PROVIDED ON OR IN CONNECTION THEREWITH (THE "SERVICES") ARE PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. XPLOREU EXPRESSLY DISCLAIMS ALL OTHER WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NONINFRINGEMENT AS TO THE SERVICES, INFORMATION, CONTENT AND MATERIALS ON THE SITE. XPLOREU DOES NOT REPRESENT OR WARRANT THAT MATERIALS IN THE SITE OR THE SERVICES ARE ACCURATE, COMPLETE, RELIABLE, CURRENT OR ERROR-FREE, AND EXPRESSLY DISCLAIMS ANY WARRANTY OR REPRESENTATION AS TO THE ACCURACY OR PROPRIETARY CHARACTER OF THE SITE, THE SITE CONTENT OR ANY PORTION THEREOF.

XPLOREU IS NOT RESPONSIBLE FOR TYPOGRAPHICAL ERRORS OR OMISSIONS RELATING TO PRICING, TEXT OR PHOTOGRAPHY. WHILE XPLOREU ATTEMPTS TO MAKE YOUR ACCESS TO AND USE OF THE SITE AND THE SERVICES SAFE, XPLOREU CANNOT AND DOES NOT REPRESENT OR WARRANT THAT THE SITE OR ITS SERVER(S) ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; THEREFORE, YOU SHOULD USE INDUSTRY-RECOGNIZED SOFTWARE TO DETECT AND DISINFECT VIRUSES FROM ANY DOWNLOAD.

LIMITATION OF LIABILITY

YOU WAIVE AND COVENANT NOT TO ASSERT ANY CLAIMS OR ALLEGATIONS OF ANY NATURE WHATSOEVER AGAINST XPLOREU, ITS AFFILIATES, OR THEIR RESPECTIVE DIRECTORS, OFFICERS, EMPLOYEES OR AGENTS ARISING OUT OF OR IN ANY WAY RELATING TO YOUR USE OF THE SITE, THE SERVICES, THE CONTENT OR THE MATERIALS CONTAINED IN OR ACCESSIBLE THROUGH THE SITE, INCLUDING, WITHOUT LIMITATION, ANY CLAIMS OR ALLEGATIONS RELATING TO THE ALLEGED INFRINGEMENT OF PROPRIETARY RIGHTS, ALLEGED INACCURACY OF SITE CONTENT, OR ALLEGATIONS THAT XPLOREU HAS OR SHOULD INDEMNIFY, DEFEND OR HOLD HARMLESS YOU OR ANY THIRD PARTY FROM ANY CLAIM OR ALLEGATION ARISING FROM YOUR USE OR OTHER EXPLOITATION OF THE SITE. YOU USE THE SITE AT YOUR OWN RISK.

WITHOUT LIMITATION OF THE FOREGOING, NEITHER XPLOREU NOR ANY PARTIES PROVIDING SITE CONTENT SHALL BE LIABLE FOR ANY DIRECT, SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES, OR ANY OTHER DAMAGES OF ANY KIND, INCLUDING BUT NOT LIMITED TO LOSS OF USE, LOSS OF PROFITS OR LOSS OF DATA, WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE) OR OTHERWISE, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF THE SITE, THE SERVICES, THE CONTENT OR THE MATERIALS CONTAINED IN OR ACCESSIBLE THROUGH THE SITE, INCLUDING WITHOUT LIMITATION ANY DAMAGES CAUSED BY OR RESULTING FROM YOUR RELIANCE ON ANY SITE CONTENT OR OTHER INFORMATION OBTAINED FROM XPLOREU OR ACCESSIBLE VIA THE SITE, OR THAT RESULT FROM MISTAKES, ERRORS, OMISSIONS, INTERRUPTIONS, DELETION OF FILES OR EMAIL, DEFECTS, VIRUSES, DELAYS IN OPERATION OR TRANSMISSION OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM ACTS OF GOD, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR UNAUTHORIZED ACCESS TO XPLOREU'S RECORDS, PROGRAMS OR SERVICES.

IN NO EVENT SHALL THE AGGREGATE LIABILITY OF XPLOREU, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), PRODUCT LIABILITY, STRICT LIABILITY OR OTHER THEORY, ARISING OUT OF OR RELATING TO THE USE OF THE SITE EXCEED ANY COMPENSATION YOU PAY, IF ANY, TO XPLOREU FOR ACCESS TO OR USE OF THE SITE.

BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.

Applicable Law and Venue

The Site (excluding Third-Party Sites) is controlled by XPloreU, LLC and operated by XPloreU, LLC from its offices in and around Chicago, Illinois. While XPloreU has made no effort to publish the Site elsewhere, the Site is accessible in all 50 states of the United States and in other countries. You and XPloreU both benefit from establishing a predictable legal environment in regard to the Site. Therefore, you and XPloreU explicitly agree that all disputes, claims or other matters arising from or relating to your use of the Site will be governed by the laws of the State of Illinois, without regard to its conflicts of law principles. You agree that all claims you may have against XPloreU, LLC arising from or relating to the Site will be heard and resolved in a court of competent subject matter jurisdiction located in Chicago, Illinois. You consent to the personal jurisdiction of such courts over you, stipulate to the fairness and convenience of proceeding in such courts, and covenant not to assert any objection to proceeding in such courts. If you choose to access the Site from locations other than Chicago, Illinois, you will be responsible for compliance with all local laws of such other jurisdiction.

Termination/Modification of License and Site Offerings

Notwithstanding any provision of these Site Terms and Conditions, XPloreU reserves the right, without notice and in its sole discretion, without any notice or liability to you, to (a) terminate your license to use the Site, or any portion thereof; (b) block or prevent your future access to and use of all or any portion of the Site, Site Content or Services; (c) change, suspend or discontinue any aspect of the Site, Site Content or Services; and (d) impose limits on the Site, Site Content or Services.

Severability

If any provision of these Site Terms and Conditions shall be deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from these Site Terms and Conditions and shall not affect the validity and enforceability of any remaining provisions.

Terms and Conditions Relating Specifically to XPloreU Gift Certificate Program

One (1) gift certificate (“Certificate”) will be issued for each submission which is deemed acceptable by XPloreU in its sole discretion. In general, acceptable submissions will consist of travel reviews, tips, articles orphotos.

All submissions shall, immediately upon submission to XPloreU and without any further action on the part of either party, become the sole property of XPloreU. As such, XPloreU shall be permitted to publish, post, display, modify, re-sell, license, sublicense, transfer, assign and otherwise exploit all or any portion of any submission (including, without limitation, the name of any author or creator and any photographs or illustrations included within any submission), in each case without any further remuneration to any party, including without limitation the creator of such submission or the person or entity which forwarded such submission to XPloreU.

Submissions must not infringe upon the intellectual property rights of any third party in any way, and XPloreU shall not be liable or responsible in any way for any infringing materials submitted to XPloreU.

Limit one (1) Certificate per redemption with a particular vendor or merchant. Only one (1) Certificate can be used per party, even, in the case of a restaurant, if the party is seated at separate tables and/or receives more than one check.

For vendors or merchants which are restaurants, the use of Certificates for alcoholic beverages is at the sole discretion of the merchant or vendor.

Certificates cannot be combined with any other gift certificates, gift cards, coupons or promotions.

Certificates cannot be used for taxes, tips (in the case of a restaurant) or prior balances.

No cash value for Certificates.

No cash back upon redemption of any Certificate or at any other time.

Certificate program may be cancelled at any time.

For merchants which are restaurants, Certificates are valid for dine in only unless otherwise stated or otherwise waived by the applicable merchant in its sole discretion.

The issuing of credit is at the sole discretion of the merchant unless otherwise required by law.

Neither XPloreU nor any merchant is responsible for lost or stolen Certificates, including situations in which an e-mail never arrived or the electronic delivery of a Certificate otherwise failed for any reason. Lost or stolen Certificates will not be replaced.

Reproduction, sale or trade of any Certificate is prohibited.

Any attempted redemption not consistent with these Terms and Conditions will render the applicable Certificate void.

Each Certificate expires one (1) year from date of issue, except in California and where otherwise prohibited by law.

Unless otherwise indicated on the XPloreU web site, Certificates shall be allocated among merchants as determined by XPloreU in its sole discretion. To this end, XPloreU shall be permitted, without limitation, to select specific merchant Certificates for particular submissions and/or use a random method of selection.

There is no limit to the number of submissions which may be provided to XPloreU during a given time period, however no more than 1 Certificates will be issued to the same registered user during the October 1-7, 2007 period.

Merchants listed at XPloreU’s web site from time to time under the Certificate program are subject to change at any time without notice.

Merchants may impose additional rules, restrictions and/or policies on the redemption of any Certificate. XPloreU shall not be liable or responsible in any way for the implementation or enforcement of any such rules, restrictions and/or policies.

XPloreU shall not be liable or responsible for the actions, services and/or products of any merchant participating in the Certificate program.

Questions and Comments

If you have any questions regarding these Site Terms and Conditions or your use of the Site, please submit them to XPloreU by sending an e-mail to mhoover@xploreu.com.

XPloreU Privacy policy

XPloreU has provided this privacy policy because XPloreU values your right to privacy. This policy is effective as of September 14, 2007 and governs the collection of personal information through this website on or after this date.

This policy describes the types of information XPloreU collects from its users and how that information is used. Please read this policy carefully before providing XPloreU with any personal information. If you have questions about this policy, feel free to e-mail XPLoreU at mhoover@xploreu.com.

Information we collect

1. Unregistered users

We encourage you to register with us in order to take advantage of personalization features which may be available from time to time. However, you may choose not to register and take advantage of any feature of our site where registration is not required.

If you do not register, then the information we collect from you is limited. We log your IP address in order to help diagnose problems with our server, administer our Web site and track usage statistics. Your IP address may vary each time you visit, or it may be the same, depending on whether you access our site through an always-on type of Internet connection (e.g., cable modem or DSL), or through a dial-up connection (e.g., AOL or Earthlink). Either way, it would be extremely difficult for us to identify you through your IP address, and we make no attempt to do so. If you reached our site by clicking on a link or advertisement on another site, then we also log that information. This helps us to maximize our Internet exposure, and to understand the interests of our users. All of this information is collected and used only in the aggregate; that is, it is entered into our database, where we can use it to generate overall reports on our visitors, but not reports about individual visitors.

We also place a small file known as a "cookie" on your computer's hard drive. A cookie may contain information that allows us to track your path through our Web site and to determine whether you have visited us before. However, unless you register with us, it contains no personally identifiable information that would allow us to identify you. Cookies cannot be used to read data off of your hard drive, and cannot retrieve information from any other cookies created by other Web sites. We use cookies in this manner to help us understand how visitors use our site, and to help us to improve our site. You may refuse to accept a cookie from us by following the procedures specific to your Web browser. Although you may do so, you may find that your browser reacts strangely when visiting not only our Web site, but other Web sites as well. Since cookies don't provide us with any information from which we can identify you, we suggest you allow us to place one on your computer.

If you visit our site by "clicking-through" from a site operated by one of our partners, and you have registered with that partner, then certain information about you that you have provided to that partner may be transmitted to us. You should review the privacy policy of the Web site from which you reached our site in order to determine what information was collected and how you agreed that our partner could use that information. Regardless of what information was transmitted to us, however, we don't keep it unless you register with us.

2. Registered users

If you choose to register with us, you'll be able to add content to our site and to personalize your XPloreU site experience. The benefits of registering will increase over time as we get to know you better and introduce new features.

If you register with us, we will collect personal information from you in addition to the non-personal information described above. That personal information may include your name, email address, mailing address, telephone number, travel preferences, user name and password, as well as contact information for other people that you provide to us. The information we collect may vary, but we only collect the information that you manually enter into our forms or otherwise authorize us to collect. We may store all or some of that information in a cookie file on your hard drive, so that our system will recognize you each time you visit our site. In that way, we can save your preferences from visit to visit and present you with a customized Web site, without requiring you to log into our site every time you visit. To improve services and enhance personalization, we may periodically obtain information about you from other independent third-party sources and add it to your registration information. Additionally, authorized XPloreU personnel may update your registration information to accurately reflect any new information included in communications received from you.

If you reach our site through one of our partners (whether or not you have registered with our partner), and you choose to register with us, we may be required to give our partner some or all of your registration information. We will only do so in accordance with this policy, but we cannot control how our partner uses the information. If you have questions about our partner's privacy policy, you should review their policy before providing information to us. Of course, you can ensure that the personal information you provide to us is not shared with our partners (except in accordance with this policy), by visiting us directly instead of clicking-through from one of our partners.

How we use the personal information we collect

Registering with XPloreU allows you to personalize our site so that it is most useful to you. It also allows you to log into our site automatically each time you visit, rather than manually typing your user name and password every time. We may also use your personal information to periodically contact you with news or important information from XPloreU, to provide you with other information or invitations related to your membership or the XPloreU community, and to request your feedback on our site. In addition to these periodic updates, we may email you additional materials, but only if you specifically request them. These might include opt-in newsletters and other materials that you proactively request from XPloreU.

In addition to these communications, if you have provided an email address, we may use your personal information to send you notifications about special offers or to tell you about opportunities available from our partners. You may opt-out of any or all marketing communications from XPloreU in any commercial e-mail we send or at any time, as well as access and update your personal information, by sending an e-mail to mhoover@xploreu.com.

We may also use certain information that you provide in order to present you with advertising that you may find interesting. You can cancel your registration with us by e-mailing us at mhoover@xploreu.com, and placing your email address in the subject of the e-mail. We will send you an e-mail to confirm your request. After we receive confirmation, we will remove your information from our active database, but some information may remain in our archives. We may not be able to remove your information from our partners' databases, if we have transmitted any information to them.

Disclosure of your personal information

XPloreU does not sell or rent any personal information to any third party, other than our partners, as discussed in this policy. We may aggregate personal information from all of our users and provide that information in the aggregate to other parties, including advertisers, for marketing and promotional purposes. However, if we do so, that information will not be in a form that will allow any third party to identify you personally.

We may share some of your personally identifiable information with affiliated companies from time to time. Sharing this information allows us to better understand the ways in which our various product and service offerings can assist travelers. It also enables us to provide you with information about travel opportunities in which you might be interested.

We also may share your personal information with third-parties specifically engaged by XPloreU to provide services to XPloreU (such as market research firms, marketing services providers and advertising agencies), in which case we will require those parties to agree to use any such personally-identifiable data solely for the purpose of providing the specified services to XPloreU. As you might expect, XPloreU must cooperate with legal authorities, and may in some circumstances be required to disclose personally identifiable information in response to requests from law enforcement authorities, or in response to a subpoena or other legal process. We don't expect this to happen, but if it does, we will provide only the information required. We can also turn over information about you if we believe we must in order to prevent a violation of the law, and by accepting this policy, you consent to our doing so, in our sole discretion. You also consent to our disclosing information about you in the course of legal proceedings if we are legally required to do so, if we reasonably believe that doing so may mitigate our liability, or if doing so will assist us in enforcing our legal rights. We also may share your information in connection with a corporate transaction, such as a divestiture, merger, consolidation or asset sale.

If you choose to participate in any member-to-member communications programs, you may be contacted by other XPloreU members, using XPloreU as an intermediary. All XPloreU members will have the option to turn off the member-to-member communication features, to the extent offered, at any time.

How you can review and update your personal information

You can review and update the personal information you have provided through the registration process by sending an e-mail to mhoover@xploreu.com.

Steps we take to protect your personal information

XPloreU has implemented security procedures to help protect the personal information stored in our systems. For example, we limit access to personal information about you to employees who we believe reasonably need to come into contact with that information. We also employ processes (such as password hashing, login auditing, and idle session termination) to protect against unauthorized access to your personal information. But please know that there is no way for us to guarantee the security of your personal information.

Children's Privacy

This website is a general audience site, and we do not knowingly collect information about children. Should a child whom we know to be under 13 send personal information to us, we will use that information only to respond directly to that child to inform him or her that we must have parental consent before receiving his or her personal information.

Changes to this Privacy Policy

We reserve the right to change this policy should we deem it advisable to do so. If we make material changes that will affect personal information we have already collected from you, we will make reasonable efforts to notify you of the changes and to give you the opportunity to amend or cancel your registration.