<a href="site/life_saving_tips"><h4>1. Don’t joke about carrying a bomb when airport personnel ask if you’re carrying anything explosive.</h4></a><br/>
<a href="site/life_saving_tips"><h4>2. Do NOT bring your Gucci purse, Louis rings, or coach shoes to developing countries.</h4></a><br/>
<a href="site/life_saving_tips"><h4>3. On every trip, even to visit your grandparents or girlfriend(s), pack duck tape, Ziplock bags, extra socks and matches.</h4></a>