We are hiring 30 marketing and journalism interns this fall. Apply by sending your resume and cover letter to: <a href="mailto:jray@xploreu.com">jray@xploreu.com</a>. We are hiring students worldwide, whether you live in Chicago or Melbourne. Apply but we are only accepting the most passionate and devoted. 

Our partner is Cheap Tickets. Use your promo code you got when you signed up with XploreU and get $100 off any cheap tickets trip.