<p>Hold your horses there, cowpoke—we're under construction 'round these parts.  But it won't be a ghost town for long.  The XPLORE page will soon be the epicenter of all your student travel needs and desires, where you'll be able to read articles, reviews, country information and tips from veteran travelers—then write your own when you become a veteran yourself.  Is your Herculean strength the reason the Tower of Pisa is still standing?  We're forever indebted to you—share and discover your cheesiest tourist photos or your most scenic portraits here, too.</p>  

<p>Since the articles are written by, you know, real people, then why not get to know them? The XPLORE page also will serve as an international social networking site where you can meet people before, during and after your excursions.</p> 

<p>Stay tuned for constantly updated features!</p>